* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  font-family: "Outfit", sans-serif;
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--Light-gray);
}

.container {
  display: grid;

  place-content: center;

  height: 90vh;
}

.card {
  display: flex;

  border-radius: 1.2rem;

  max-width: 27rem;

  background-color: var(--White);
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

#qrCode {
  padding: 1.2rem;

  width: 100%;

  border-radius: 2rem;
}

.text {
  margin: 0 2rem;

  text-align: center;
}

.text h1 {
  color: var(--Dark-blue);
  font-weight: 700;
  font-size: 1.9rem;
}

.text h4 {
  margin-top: 1rem;

  font-size: 1.5rem;

  color: var(--Grayish-blue);
  font-weight: 400;

  margin-bottom: 4rem;
}
